.hidden{
    display: none;
}

body{
    background-color: rgb(23, 1, 43);
    color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
}

.titulo{
    color: rgb(253, 6, 129);
}

.aviso{
    color: rgb(238, 69, 125);
}




.botao{
    font-size: large;
    color: rgb(20, 0, 37);
    background-color: rgb(253, 6, 129);
    border-radius: 5px;
    border-color: rgb(253, 6, 129);
    height: 30px;
    width: 200px;
}
.botao:hover{
    background-color: rgb(250, 106, 185);
    cursor: pointer;
}


.botaoMenor{
    color: rgb(20, 0, 37);
    background-color: rgb(253, 6, 129);
    border-radius: 4px;
    height: px;
    font-size: large;
}
.botaoMenor:hover{
    background-color: rgb(250, 106, 185);
    cursor: pointer;
}



table{
    background-color: rgb(20, 0, 37);
    border-color: rgb(253, 6, 129);
    color: antiquewhite;
    font-size: xx-large;
    border-radius: 5px;
    text-align: center;
}

.input{
    background-color: rgb(20, 0, 37);
    border-color: rgb(253, 6, 129);
    font-size:xx-large;
    border-radius: 8px;
    width: 850px;
    color: rgb(253, 6, 129);
    
}
.input::placeholder{
    color: rgb(253, 6, 129);
}

.alerta{
    color: rgb(253, 6, 129);
    font-size: xx-large;
    font-weight: bold;
}

.alinhado{
    display: flex;
    flex-direction: column; /* um embaixo do outro */
    align-items: center;   /* centraliza horizontal */
    justify-content: center; /* centraliza vertical (se quiser no meio da tela toda) */
    /* min-height: 100vh; ocupa a tela toda */
}
